@font-face {
  font-family: 'Gilroy';
  src: url('../../public/Gilroy-SemiBold.ttf');
}


.content{
  padding: 20px;
  margin-top: -40px ;
}

.navbar{
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Gilroy';
  color: black;
  list-style: none;
}

.navbarLinks{
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.herobanner{
  padding: 100px;
  background: url("./bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.herobanner h1{
  font-family: 'Gilroy';
  font-size: 7.5vw;
  color: #fff;
  display: inline-block;
  animation: titleFadeIn 1.3s ease-in-out forwards;
}

.herobanner p{
  font-family: 'Gilroy';
  font-size: 1.5vw;
  color: #fff;
  display: inline-block;
}

.button{
  padding: 20px 20px;
  width: 200px;
  background: #fff;
  text-align: center;
  border: none;
  color: #000;
  font-size: 1.1vw;
  border-radius: 20px;
  font-family: 'Gilroy';
  cursor: pointer;
}




@keyframes titleFadeIn{
  0%{
      opacity: 0;
      transform: translateY(20%);
  }
  100%{
      opacity: 1;
      transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .navbarLinks {
    width: 50%; /* Ajuste la largeur des liens de la barre de navigation */
  }

  .herobanner {
    padding: 30px; /* Ajuste la taille du padding pour les écrans plus petits */
  }

  .herobanner h1 {
    font-size: 5vw; /* Ajuste la taille de la police pour les écrans plus petits */
  }

  .herobanner p {
    font-size: 1.2vw; /* Ajuste la taille de la police pour les écrans plus petits */
  }

  .button {
    padding: 10px 15px; /* Ajuste la taille du padding pour les écrans plus petits */
    width: 120px; /* Ajuste la taille du bouton pour les écrans plus petits */
    font-size: 0.9vw; /* Ajuste la taille de la police pour les écrans plus petits */
    border-radius: 10px; /* Ajuste le rayon de la bordure pour les écrans plus petits */
  }
}